
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding:0px 500px;
  }
  
  .image-container {
    overflow: hidden;
    position: relative;
  }
  
  .grid-image {
    width: 100%;
    height: 200px;
    transition: transform 0.3s ease;
  }
  
  .grid-image:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .image-grid {
        padding: 0px ;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .image-grid {
        padding: 0px 20px;
      grid-template-columns: 1fr;
    }
  }
  